{% extends 'base.html' %}

{% block main %}
    <div class="container text-center"> </div>

    <div class="container text-left">
        <h3>
            <br>  This site generates basic figures from Eurostat sectoral </br>
            <br> Data is loaded automatically using Eurostat's API </br>
            <br> For more see: </br>

        </h3>

        <a href = "https://ec.europa.eu/eurostat" >
        <img src="/static/eurostat.png" alt="" width="300" height="240" class="d-inline-block align-text-top">
        </a>


    </div>
{% endblock %}

